.d_button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;

	font-weight: 600;
	/* color: #382b22; */
	text-transform: uppercase;
	padding: 5px 1.5em;
	background: #fff;
	border: 1px solid #ff9585;
	border-radius: 0.75em;
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

/* button.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
  } */
.d_button::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ffd3c7;
	border-radius: inherit;
	box-shadow: 0 0 0 1px #ff9585, 0 0.4em 0 0 #ffe3e2;
	transform: translate3d(0, 0.45em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.d_button:hover {
	background: #ff492c;
	transform: translate(0, 0.25em);
}
.d_button:hover::before {
	box-shadow: 0 0 0 1px #ff9585, 0 0.3em 0 0 #ffe3e2;
	transform: translate3d(0, 0.2em, -1em);
}
.d_button:active {
	background: #ff492c;
	transform: translate(0em, 0.75em);
}
.d_button:active::before {
	box-shadow: 0 0 0 1px #ff9585, 0 0 #ffe3e2;
	transform: translate3d(0, 0, -1em);
}

:root {
	--body-bg: hsl(33, 100%, 88%);
	--btn-width: 8rem;
	--btn-height: 2rem;
	--btn-bg: #fff7f5;
	--btn-battom-bg: #ffe5dc;
	--btn-shadow-bg: hsla(0, 62%, 67%, 0.15);
	--text-cl: #efefef;
	--border-radius: 10px 10px 15px 15px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	transition: transform 250ms ease-in-out;
}

.container > .button {
	width: 100%;
	border: none;
	color: #ff492c;
	background-color: var(--btn-bg);
	padding: 6px 1.5rem;
	border-radius: 20px;
	border: 1px solid #ff492c;
	/* font-size: 1rem; */
	/* font-weight: 500; */
	/* transform: translateY(0);
    -moz-transition: transform 250ms ease-in-out;
    -webkit-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out; */
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
	z-index: 0;
}

.container .button__bottom {
	width: 100%;
	height: 100%;
	border: 1px solid #ff492c;
	background: linear-gradient(to right, #fff2ee 10%, #ffded2 60%, #ffb7a1);
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transform: translate3d(6px, 0.35em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.container > .button__shadow {
	width: calc(100% + 0.4rem);
	height: var(--btn-height);
	/* outline: 2px solid hsla(0, 62%, 67%, 0.15); */
	/* background-color: var(--btn-shadow-bg); */
	border-radius: var(--border-radius);
	position: absolute;
	top: 16px;
	left: -3px;
	z-index: -2;
	transition: top 250ms ease-in-out;
}

/* .container > .button:active,
  .container > .button:focus-visible {
    transform: translateY(6px);
  } */

.container > .button:active {
	transform: translate3d(6px, 0.35em, -1em);
}

.button:hover {
	/* transform: translate(3px, 6px); */
	transform: translate3d(2px, 0.1em, -1em);
}

/* .button:hover .button__shadow {
	top: 12px;
} */

@media only screen and (max-width: 768px) {
	.container .button__bottom {
		transform: translate3d(5px, 0.25em, -1em);
		transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
	}

	.container > .button:active {
		transform: translate(5px, 0.25em);
	}

	.button:hover {
		/* transform: translate(3px, 6px); */
		transform: none;
	}
}

@media only screen and (max-width: 640px) {
	.container > .button {
		/* border-radius: 8px; */
		font-size: 11px;
		padding: 6px 18px;
	}

	.container .button__bottom {
		/* border-radius: 8px; */
		transform: translate3d(4px, 0.22em, -1em);
		transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
	}

	.container > .button:active {
		transform: translate3d(4px, 0.25em, -1em);
	}
}

@media only screen and (max-width: 360px) {
	.container > .button {
		font-size: 10px;
		padding: 4px 4px;
	}
}

/* ----------case study card button------------- */

.btn-caseStudy {
	color: #ff492c;
	position: relative;
	display: block;
	/* overflow: hidden; */
	

}
.btn-caseStudy span {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: red;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
	transform: translate(-50%, -50%);
	z-index: 999;
}
.btn-caseStudy:hover {
	color: white;
}
.btn-caseStudy:hover span {
	width: 225%;
	height: 562.5px;
}
/* .btn-caseStudy:active {
	background-color: #c4c5a4;
  } */
